<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/images/favicon.png" />

    <title>Graduate Admissions – Full Graduate Assistantship Track</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Teko:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Teko:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/shortcodes.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/css/fees-payment.css" rel="stylesheet" />
    <link href="~/assets/css/fees-pay-responsive.css" rel="stylesheet" />
    <script>
        jQuery(document).ready(function ($) {
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 80) {
                    $("#header").addClass("fixed");
                } else {
                    $("#header").removeClass("fixed");
                }
            });
        });
    </script>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="big-wrap-of-logo-menu">
                <div class="logo-wrap">
                    <a href="fees-payment-structure.aspx">
                        <img src="~/assets/images/header-logo.png" />
                    </a>
                </div>
                <div class="menu-wrap-menu">
                </div>
            </div>
        </div>
    </header>
            @RenderBody()
    <footer class="footer widget-footer clearfix">
        <div class="container">
            <div class="wrapper">
                <div class="widget-area first-box-footer">
                    <div id="block-13" class="widget widget_block widget_media_image">
                        <a href="fees-payment-structure.aspx">
                            <img loading="lazy" decoding="async" src="~/assets/images/header-logo.png" alt="" class="wp-image-3840">
                        </a>
                    </div>
                    <div id="block-14" class="widget widget_block widget_text">
                        <p>
                            <strong>Your Roadmap to Success</strong><br>
                            With 25+ years of experience, we simplify the admissions journey—while maximizing scholarship success.
                        </p>
                    </div>
                    <div id="block-15" class="widget widget_block widget_text">
                        <p>
                            <img loading="lazy" decoding="async" width="124" height="41" class="wp-image-149" style="width: 124px;" src="https://themes.getmotopress.com/coachzee-teacher/wp-content/uploads/sites/47/2022/01/sign-light.svg" alt="">
                        </p>
                    </div>
                </div>
                <div class="widget-area">
                    <div id="block-16" class="widget widget_block">
                        <h3 class="wp-block-heading">Book a session Today</h3>
                    </div>
                    <div id="block-17" class="widget widget_block widget_text">
                        <p>Discover Scholarships and Foreign Universities with us and take the class leading counselling for free, Today!</p>
                    </div>
                    <%--<div id="block-23" class="widget widget_block">
                        <div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
                            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="#appointment">Book Now <strong>→</strong></a></div>
                        </div>
                    </div>--%>
                </div>
                <div class="widget-area">
                    <div id="block-18" class="widget widget_block">
                        <h3 class="wp-block-heading">Get in Touch </h3>
                    </div>
                    <div id="block-19" class="widget widget_block">
                        <div class="custom-table">
                            <div class="custom-table-item">
                                <img class="png-icon-design" src="~/assets/images/fees-call.png" />
                                <span class="custom-table-value">
                                    <a href="tel:+919810010113">+91-98100 10113</a><br>
                                    <a href="tel:+1(833)3276640">+1 (833) 327 6640</a>
                                </span>
                            </div>
                            <div class="custom-table-item">
                                <img class="png-icon-design" src="~/assets/images/fees-mail.png" />
                                <span class="custom-table-value">
                                    <a href="mailto:enquiry@sureadmit.com">enquiry@sureadmit.com</a>
                                </span>
                            </div>
                            <div class="custom-table-item">
                                <img class="png-icon-design" src="~/assets/images/fees-address.png" />
                                <span class="custom-table-value">
                                    101-B, Grover Chambers, 4-B Pusa Road,<br>
                                    New Delhi 110005, India
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="wrapper">
                    <div class="site-info">
                        SureAdmit © 2026 - All Rights Reserved
                    </div>

                </div>
            </div>
        </div>
    </footer>

  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
