p {
    font-size: 16px;
    line-height: 1.7;
}

a, button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
section.cartpagewrrap .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.cart-items {
    flex: 2;
    margin-right: 20px;
}
.cart-item {
    display: flex;
    padding: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 60px 0 #0000000d;
    margin-bottom: 20px;
    gap: 15px;
}
.cart-item img {
    width: 180px;
    margin: 0 10px 0 0;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.item-details {
    flex: 1;
    padding: 0 15px 0 0;
}
.item-details h4 {
    color: #fff;
    margin: 0;
    font-weight: 500;
}
.quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.quantity button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.price {
    font-weight: 500;
    color: #000;
}
.remove {
    color: red;
    cursor: pointer;
    font-size: 14px;
}
.summary {
    flex: 1;
    background: #fff;
    padding: 20px;
    height: fit-content;
    box-shadow: 0 0 60px 0 #0000000d;
}
    .summary h3 {
        margin-top: 0;
        color: #c52f36;
    }
    .summary p {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }
.total {
    font-weight: bold;
    font-size: 18px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.checkout {
    background: #fff;
    color: #c42523;
    border: 1px solid #c42523;
    display: block;
    line-height: 39px;
    text-decoration: none;
    text-align: center;
}
.continue {
    background: #e8d3ab;
}
/**********************/
.classpricewrrap {
    align-items: center;
    gap: 7px;
    margin: 10px 0;
    display: none;
}
.classpricewrrap > div {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, p, a, div {
    font-family: "Inter", sans-serif;
}
.summary p span {
    color: #000;
}
.checkout:hover {
    background: #c42523;
    border: 1px solid #c42523;
    color: #fff;
}
.continue:hover {
    background: #ac2220;
    color: #fff;
}
.cart-item:not(:first-child) {
    margin: 10px 0 0 0;
}
.priceheightlight {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.remove.common-btn-desgn a {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 0 19px 0 21px;
}
.remove.common-btn-desgn a::before {
    content: "";
    background-image: url('../images/cross.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
    bottom: 0;
    background-size: 100% 100%;
    height: 15px;
    width: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}
.remove.common-btn-desgn a:hover {
    color: #c52f36;
}
.remove.common-btn-desgn a:hover::before {
    filter: brightness(0) saturate(100%) invert(17%) sepia(90%) saturate(2534%) hue-rotate(342deg) brightness(106%) contrast(85%);
}
section.checkout-section .container {
    display: block;
}
.formwrapdesign .form-group input,
.formwrapdesign .form-group select,
.formwrapdesign .form-group textarea {
    width: 100%;
    resize: none;
    height: 53px;
    padding: 10px 10px 10px 22px;
    color: #000;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
}
form label {
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    line-height: 31px;
    position: absolute;
    left: 22px;
    top: 19px;
    line-height: normal;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 9;
    text-transform: none;
    pointer-events: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.input_focus label, .value_focus label, .input-focus label, .value_focus label {
    -webkit-transform: scale(.75) translateY(-28px);
    -moz-transform: scale(.75) translateY(-28px);
    -ms-transform: scale(.75) translateY(-28px);
    -o-transform: scale(.75) translateY(-28px);
    transform: scale(.75) translateY(-28px);
    background: #5d7f57;
    border-radius: 4px;
    padding: 2px 5px;
    color: #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    top: 12px;
    left: 20px;
}
.form-group {
    position: relative;
}
.formwrapdesign {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 35px;
    padding: 60px 50px;
    max-width: 870px;
    margin: 0 auto;
    box-shadow: 0 0 30px 0 #00000012;
    border-radius: 20px;
}
.currency {
    grid-column-start: 1;
    grid-column-end: 3;
}
div#CartCoursesList {
    grid-column-start: 1;
    grid-column-end: 3;
}
div#CartCoursesList .course-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 35px;
}
.form-group.textara {
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-group.textara textarea {
    height: 150px;
}
.submitbutton button, .paybtnpay #payBtn {
    width: 100%;
    line-height: 45px;
    background: #5d7f57;
    border: 1px solid #5d7f57;
    color: #fff;
    font-size: 16px;
    padding: 0 110px;
}
.submitbutton, .paybtnpay {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 710px;
    margin: auto;
}
.paybtnpay {
    max-width: 200px;
}
.paybtnpay {
    grid-column-start: unset;
    grid-column-end: unset;
}
    .submitbutton button:hover {
        background: #c52f36;
        border: 1px solid #c52f36;
    }
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.selectarow::before {
    content: "";
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    right: 15px;
    background-size: 100% 100%;
    height: 13px;
    width: 8px;
    margin: auto;
    transform: rotate(88deg);
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(217deg) brightness(108%) contrast(108%);
}
.selectarow {
    position: relative;
}
section.checkout-section h2, .compltpay h2, .paymentresponse h2 {
    text-align: center;
    font-size: 31px;
    line-height: 1.2;
    font-family: "Inter", sans-serif;
}
    section.checkout-section h2 span, .compltpay h2 span, .paymentresponse h2 span {
        font-size: 47px;
        color: #5d7f57;
    }
.compltpay{
    text-align: center;
}
span#Email-error {
    color: red;
    font-size: 14px;
}
.container.compltpay {
    flex-direction: column;
    justify-content: center;
}
    .container.compltpay p {
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    .container.compltpay h2 {
        margin: 0 0 10px;
    }
.paybtnpay #payBtn {
    padding: 0 60px;
}
.container.paymentresponse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alert-success {
    font-size: 20px;
    color: #5d7f57;
    font-weight: 700;
    margin: 0 0 9px 0;
}
.bactohome a {
    font-size: 16px;
    color: #c52f36;
    text-decoration: none;
    border: 1px solid #c52f36;
    padding: 0 20px;
    display: inline-block;
    line-height: 42px;
}
.bactohome a:hover {
    background: #c52f36;
    color: #fff;
}
main.maincoursecart {
    margin: 89px 0 0 0;
}
.summary p.total {
    font-size: 18px;
}
div#CartCoursesList .course-row:not(:last-child) {
    margin-bottom: 35px;
}
a {
    text-decoration: none;
}
.container.paymentresponse .bactohome {
    margin: 10px 0 0 0;
}
.item-details p {
    font-size: 16px;
    line-height: 24px;
}
.cart-item .full-desc p strong {
    color: #c52f36;
}
.cart-item .full-desc p {
    margin: 0 0 7px 0;
}
.full-desc ul li {
    position: relative;
    list-style: none;
    padding: 0 0 11px 35px;
    font-size: 16px;
    line-height: 1.7;
}
.full-desc ul li::before {
    content: "";
    background-image: url('../images/favicon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 0;
    height: 23px;
    width: 30px;
}
.summary p.total span:first-child {
    color: #c52f36;
}
@media all and (max-width: 767px) {
    .cart-items {
        margin-right: 0;
        margin-bottom: 20px;
    }
}