@media (min-width: 1700px) and (max-width: 1800px) {
}

@media (min-width: 1600px) and (max-width: 1700px) {
  
}
@media (min-width: 1500px) and (max-width: 1600px) {
    section.afuuly-funded-phd::before {
        max-width: 793px;
    }
    section.why-do-ninty-percent-ofphd::before {
        max-width: 590px;
    }
    .transformh {
        left: 490px;
    }
}
@media (min-width: 1400px) and (max-width: 1500px) {
    section.afuuly-funded-phd::before {
        max-width: 703px;
    }

    section.why-do-ninty-percent-ofphd::before {
        max-width: 510px;
    }
    .transformh {
        left: 390px;
    }
}

    @media (min-width: 1300px) and (max-width: 1400px) {
    }

    @media (min-width: 1200px) and (max-width: 1300px) {
    }
@media (max-width: 1024px) {
    .featured-imagebox-services.style1 .services-content {
        min-height: auto;
    }
    .card-design, .card-design-two {
        min-height: 981px;
        padding: 30px 20px;
    }
    .pricedsgn p {
        right: 0px;
    }
    .card-design > p:nth-child(2), .card-design > p:nth-child(3) {
        padding-right: 110px;
    }
    .midlecontent::before {
        top: 60px;
        height: 50px;
        width: 130px;
    }
    .row:not(.g-0) {
        margin-left: 0;
        margin-right: 0;
    }
    section.side-by-side-section table.table-responsive-design th,
    section.side-by-side-section td,
    section.side-by-side-section tr {
        padding: 20px 15px;
    }
  
}
@media (max-width: 768px) {
    li {
        font-size: 14px;
        line-height: 24px;
    }
    .bannercontent h1 {
        font-size: 40px;
        line-height: 60.6px;
    }
    ul.fromclarity li.commondsgn:not(:last-child)::before, ul.scholararow li p.arrowtext::before {
        height: 61px;
        width: 140px;
     
    }
    ul.fromclarity {
        margin: 100px auto 70px;
    }
    section.a-fully-fundedphd .spacing-1 {
        padding: 20px 15px;
    }
    ul.scholararow li p.arrowtext {
        margin: 80px 0 0 80px;
    }
}
@media (max-width: 767px) {
}