@model SureAdmitCore.Areas.Admin.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var userType = Model.UserRole;
}
<head>
<style>
        .bg-aquas {
            background: #ae2220;
            color: aliceblue;
        }

    .small-box .icon {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 47px;
        transition: all .3s linear;
        color: #fff;
    }

    .small-box:hover .icon {
        font-size: 55px;
    }

    .hcd {
        text-align: center;
        padding: 5px;
        background: cadetblue;
        color: white;
        font-family: serif;
    }

    .small-box {
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        }

        .custom-btn {
            background-color: #ae2220;
            color: #fff;
            border: none;
            transition: background-color 0.3s ease;
        }

        .custom-btns {
            background-color: #5d7f57;
            color: #fff;
            border: none;
            transition: background-color 0.3s ease;
        }
</style>
</head>
<section class="content"> 
        <div class="row grid-design-box">
            <div class="col-lg-3 col-xs-6">
            <a href="/admin/Master/CourseList">
                <div class="small-box bg-aquas">
                    <div class="inner">
                    <h3>@Model.TotalCourse</h3>
                    <p>Total Course</p>
                       @*  <p>@DateTime.Now.ToString("MMMM") Total Course</p> *@
                    </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                    </div>
                
                </div>
            </a>
            </div> 
            <div class="col-lg-3 col-xs-6">
            <a href="/admin/Report/AppliedCourseDetails">
                    <div class="small-box bg-aquas">
                        <div class="inner">
                        <h3>@Model.TotalApliedCourse</h3>
                            <p>Total Course Application</p> 
                        </div>
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                    </div>
                </a>
            </div>


   
</div>
</section>
