@model SureAdmitCore.Models.CourseCheckoutModel

@{
    ViewData["Title"] = "Payment Response";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/assets/css/fees-payment.css" rel="stylesheet" />
    <link href="~/assets/css/fees-pay-responsive.css" rel="stylesheet" />
    <link href="~/assets/css/cartpage.css" rel="stylesheet" />
    <link href="~/assets/css/cartpage.css" rel="stylesheet" />
    <link href="~/assets/css/checkout.css" rel="stylesheet" />
</head>
<header class="header" id="header">
    <div class="container">
        <div class="big-wrap-of-logo-menu">
            <div class="logo-wrap">
                <a href="/home/scholaria">
                    <img src="~/assets/images/header-logo.png" />
                </a>
            </div>
            <div class="menu-wrap-menu">
            </div>
        </div>
    </div>
</header>
<main class="maincoursecart">
    <div class="container mt-5 paymentresponse">
        <h2>Payment <span>Status</span></h2>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert @(ViewBag.Message.Contains("Successful") ? "alert-success" : "alert-danger")">
                @ViewBag.Message
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.PaymentId))
            {
                <p>Payment Reference: <strong>@ViewBag.PaymentId</strong></p>
            }
        }
        else
        {
            <div class="alert alert-warning">
                Payment information not found.
            </div>
        }
        <div class="bactohome">
            <a href="/home/Scholaria" class="">Back to Home</a>
        </div>
    </div>
</main>
<!-- footer start -->
<footer class="footer widget-footer clearfix">
    <div class="container">
        <div class="wrapper">
            <div class="widget-area first-box-footer">
                <div id="block-13" class="widget widget_block widget_media_image">
                    <a href="/Home/feespaymentstructure">
                        <img loading="lazy" decoding="async" src="~/assets/images/header-logo.png" alt="" class="wp-image-3840">
                    </a>
                </div>
                <div id="block-14" class="widget widget_block widget_text">
                    <p>
                        <strong>Your Roadmap to Success</strong><br />
                        Harness our 25+ years of accomplished experience to simplify your admissions journey,
                        while maximizing your admit and scholarship probabilities.
                    </p>
                </div>
                <div id="block-15" class="widget widget_block widget_text">
                    <p>
                        <img loading="lazy" decoding="async" width="124" height="41" class="wp-image-149" style="width: 124px;" src="https://themes.getmotopress.com/coachzee-teacher/wp-content/uploads/sites/47/2022/01/sign-light.svg" alt="">
                    </p>
                </div>
            </div>
            <div class="widget-area">
                <div id="block-16" class="widget widget_block">
                    <h3 class="wp-block-heading">Book a session Today</h3>
                </div>
                <div id="block-17" class="widget widget_block widget_text">
                    <p>Discover Scholarships and Foreign Universities with us and take the class leading counselling for free, Today!</p>
                </div>

            </div>
            <div class="widget-area">
                <div id="block-18" class="widget widget_block">
                    <h3 class="wp-block-heading">Get in Touch </h3>
                </div>
                <div id="block-19" class="widget widget_block">
                    <div class="custom-table">
                        <div class="custom-table-item">
                            <img class="png-icon-design" src="~/assets/images/fees-call.png" />
                            <span class="custom-table-value">
                                <a href="tel:+919810010113">+91-98100 10113</a><br />
                                <a href="tel:+1(833)3276640">+1 (833) 327 6640</a>
                            </span>
                        </div>
                        <div class="custom-table-item">
                            <img class="png-icon-design" src="~/assets/images/fees-mail.png" />
                            <span class="custom-table-value">
                                <a href="mailto:enquiry@sureadmit.com">enquiry@sureadmit.com</a>
                            </span>
                        </div>
                        <div class="custom-table-item">
                            <img class="png-icon-design" src="~/assets/images/fees-address.png" />
                            <span class="custom-table-value">
                                101-B, Grover Chambers, 4-B Pusa Road,<br />
                                New Delhi 110005, India
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="wrapper">
                <div class="site-info">
                    SureAdmit © 2026 - All Rights Reserved
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- footer end -->